<%= form_for user, url: session_form_path, method: "POST" do |f| %>
  <div class="input-field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="input-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <%= f.submit button_name, class: "btn red lighten-2"%>
<% end %>