<nav class="blue-grey lighten-2">
  <div class="container">
    <%= link_to "SymbioSound", root_path, class: "brand-logo" %>
    <ul class="right">
      <% if false %>
        <li><%= link_to "Signup", "#" %></li>
        <li><%= link_to "Login", "#" %></li>
        <li><%= link_to "Logout", "#" %></li>
        <% else %>
        <li><%= link_to "Signup", signup_path %></li>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Logout", "#" %></li>
        <li><%= link_to "New Project", new_project_path %></li>
        <li><%= link_to "Project List", projects_path %></li>
        <li><%= link_to "New Skillset", new_skillset_path %></li>
        <li><%= link_to "Skillset List", skillsets_path %></li>
      <% end %>
    </ul>
  </div>
</nav>